*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: Open Sans;
  background-color: #FDB449;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* Navbar */
#nav-bar
{
  position: sticky
  top: 0;
  z-index: 10;

}
.navbar
{
  background-color: #FDB449;
  padding: 24px !important;
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.navbar-brand img
{
  height: 40px;
  margin-bottom: 6px;
}

.navbar-nav li
{
  padding: 0px 20px;
  font-family: Fredoka One;
  letter-spacing: 0.5px;
}

.navbar-nav li a
{
  color: #fff !important;
  float: right;
  text-align: left;
}

.navbar-toggler
{
  outline: none !important;
  border: 0 !important;
  color: #FFF !important;
  font-size: 30px;
}

@media only screen and (max-width: 400px) {
  .navbar {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .navbar-brand img
  {
    height: 30px;
  }
}


/* Banner */
#banner
{
  background-color: #FDB449;
  color: #FFF;
  padding: 64px 10% 64px 10%;
  font-size: 26px;
  font-weight: thin;
}

.huge-text
{
  font-family: 'Fredoka One', sans-serif;
  font-size: 32px;
}

/* Grid */
#grid
{
  background-color: #F2F2F2;
  padding: 64px 5% 64px 5%;
}

.card {
  margin: 0 auto;
  float: none;
  border: none;
  border-radius: 10px
}
.card-title
{
  font-weight: 500;
}

.btn
{
  background-color: #66CC66;
  border-color: #66CC66;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Fredoka One', sans-serif;
  letter-spacing: 0.5px;
  outline:none;
}
.btn:hover
{
    color: #fff;
    background-color: #5EB55E;
    border-color: #5EB55E;
}
.btn:active
{
  color: #fff;
  background-color: #5EB55E !important;
  border-color: #5EB55E !important;
}


/* Footer */
#footer
{
  background-color: #FDB449;
  color: #fff;
  padding: 64px 10% 64px 10%;
  font-size: 20px;
  font-weight: 300;
}
