*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: Open Sans;
  background-color: #FDB449;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  position: fixed;
}

/* Navbar */
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;

}

.smooth-scroll
{
  scroll-behavior: smooth
}

.smart-scroll
{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down
{
   background-color: rgba(253, 180, 73,1) !important;
}

.scrolled-up
{
   background-color: rgba(253, 180, 73,0.8) !important;
}
@media only screen and (max-width: 992px) {
  .nav-item
  {
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    padding-bottom: 8px;
    border-bottom: 8px;
    border-color: #FDB449;
  }
}

.navbar
{
  transition: background-color 0.2s linear;
  background-color: #FDB449;
  padding: 10px !important;
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.navbar-brand img
{
  height: 40px;
  margin-bottom: 6px;
}

.navbar-nav li
{
  padding: 0px 20px;
  font-family: Fredoka One;
  letter-spacing: 0.5px;
}

.navbar-nav li a
{
  color: #fff !important;
  float: right;
  text-align: left;
}

.navbar-toggler
{
  outline: none !important;
  border: 0 !important;
  color: #FFF !important;
  font-size: 30px;
}

@media only screen and (max-width: 400px) {
  .navbar {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .navbar-brand img
  {
    height: 30px;
  }
}


/* Banner */
#banner
{
  background-color: #FDB449;
  color: #FFF;
  padding: 64px 10% 64px 10%;
  font-size: 26px;
  font-weight: thin;
}

.huge-text
{
  font-family: 'Fredoka One', sans-serif;
  font-size: 32px;
}
.title-text
{
  font-family: 'Fredoka One', sans-serif;
  font-size: 7vw;
}
@media only screen and (max-width: 700px)
{
  .title-text
  {
    font-size: 48px;
  }
}
@media only screen and (max-width: 310px)
{
  .title-text
  {
    font-size: 32px;
  }
}

/* Grid */
#grid
{
  background-color: #F2F2F2;
  padding: 64px 5% 64px 5%;
}

.grid-container
{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 48px;
  grid-auto-rows: minmax(100px, auto);
}
.card
{
  margin: auto;
  float: none;
  border: none;
  border-radius: 10px;
  grid-row: span 1;
  grid-column: span 1;
  width: 100% !important;
  min-height: 184px !important;
  max-width: 400px !important;
}

@media only screen and (max-width: 1680px)
{
  .grid-container
  {
    grid-template-columns: repeat(4, 1fr);
  }
  .card
  {
    max-width: 300px !important;
  }
}
@media only screen and (max-width: 1340px)
{
  .grid-container
  {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1000px)
{
  .grid-container
  {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 640px)
{
  .grid-container
  {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-title
{
  font-weight: 500;
}

.btn
{
  background-color: #66CC66;
  border-color: #66CC66;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Fredoka One', sans-serif;
  letter-spacing: 0.5px;
  outline:none;
  color: #fff !important;
}
.btn:hover
{
    color: #fff;
    background-color: #5EB55E;
    border-color: #5EB55E;
}
.btn:active
{
  color: #fff;
  background-color: #5EB55E !important;
  border-color: #5EB55E !important;
}


/* Footer */
#footer
{
  background-color: #FDB449;
  color: #fff;
  padding: 64px 10% 64px 10%;
  font-size: 20px;
  font-weight: 300;
}

.social-icon
{
  font-size:48px;
  text-decoration: none;
  color: #fff;
  text-rendering: optimizeLegibility;
}

.social-icon:hover
{
  color: #e3e3e3;
  text-decoration: none;
}

.social-icon:active
{
  text-decoration: none;
  color: #e3e3e3;
}

.link:link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
.link:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
.link:hover {
  color: #e3e3e3;
  background-color: transparent;
  text-decoration: underline;
}
.link:active {
  color: #e3e3e3;
  background-color: transparent;
  text-decoration: underline;
}

/*Resepti popup*/
.hide
{
  display:none;
}

.popup-container
{
  background-color: rgba(0, 0, 0,0.4);
  z-index: 100;
  position:fixed;
  top:0;
  height: 100vh;
  width: 100vw;
  overflow:auto;
  padding: 64px 0px 64px 0px;
  overflow: auto;
}

.resepti-container
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 1600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 64px;
}

.close-button
{
  outline: none;
  border: 0;
  color: black;
  background-color: transparent;
  font-size: 32px;

  float: right;
  position:relative;
  top: -60px;
  right: -48px;
}

@media only screen and (max-width: 600px)
{
  .resepti-container
  {
    padding: 16px 32px 16px 32px;
  }
  .close-button
  {
    top: -12px;
    right: -12px;
  }
}
